/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
 @tailwind preflight;

 /**
  * This injects any component classes registered by plugins.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/components";
  */
 @tailwind components;

 /**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */

 /**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/utilities";
  */
 @tailwind utilities;

 /**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */

  .bg-purple-footer-image {
    background-image: url("../images/Fill3.png");
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }

  @media (max-width: 767px) and (min-width: 0px){
    .human-picture {
      top: 0px!important;
      left: 0px!important;
    }
  }

  .bg-purple-image {
    background-image: url("../images/header_background.png");
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }

  @media (max-width: 767px) and (min-width: 0px){
    .bg-purple-image {
      background-image: url("../images/header_background-sm.png");
      background-repeat: no-repeat !important;
      background-size: cover !important;
      background-position: bottom;
      height: 1000px;
    }

    .footer {
      padding-top: 120px!important;
    }

    .footer-padded {
      padding-top: 40px;
      padding-bottom: 200px;
      position: relative;
      bottom: -250px;
      margin-top: -280px;
      z-index: 10
    }

    .footer-padded.submitted {
      margin-top: -400px;
      bottom: -200px;
    }
  }

  @media (max-width: 320px) {
    .mobile-yellow {
      margin-top: 30px;
    }

    .footer-padded {
      margin-top: -220px!important;
    }

    .footer-padded.submitted {
      margin-top: -150px !important;
      bottom: -200px;
    }
  }

  @media (max-width: 1366px) and (min-width: 768px){
    .bg-purple-image {
      background-image: url("../images/header_background.png");
      background-repeat: no-repeat !important;
      background-size: cover !important;
      background-position: bottom;
      height: 1300px;
    }


    .give-meaning {
      top: -300px!important;
      position: relative!important;
    }

    .featured-item {
      background: none!important;
      bottom: 0px!important;
      background-image: none!important;
    }

    .easy-peasy {
      top:-250px;
    }

    .featured-box {
      margin-top: -120px!important;
    }

    .donor-profile-laptop {
      max-width: 500px!important;
      height: 350px!important;
    }

    .stats-2 {
      max-width: 350px!important;
      height: 200px!important;
      top: 290px!important;
      left: 30px!important;
      z-index: 10;
    }

    .bg-purple-footer-image {
      background-size: cover !important;
    }

    .footer-padded {
      padding-top: 20px;
      padding-bottom: 200px;
      position: relative;
      bottom: -250px;
      margin-top: -350px;
    }

    .footer {
      padding-top: 200px!important;
    }
}

  @media (max-width: 767px) and (min-width: 0px){
    .bg-purple-footer-image {
      background-size: auto !important;

    }
  }

  .featured-item {
    background-image: url("../images/Fill2.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    bottom: -420px;
    position: relative;
    z-index: 20;
  }

  @media (max-width: 767px) and (min-width: 0px){
    .featured-item {
      background-color: none!important;
      bottom: 0px;
      background-image: none;
    }

    .pull-up {
      top: -290px!important;
      position: relative!important;
      z-index: 0;
    }

    .static-height-desktop {
      height: 3170px;
    }
  }

  .mobile-teal {
    background-image: url("../images/mobile-teal.svg");
    background-size: cover;
    height: 550px;
  }


  .mobile-orange {
    background-image: url("../images/mobile-orange.svg");
    background-size: cover;
    height: 550px;
  }

  .mobile-yellow {
    background-image: url("../images/mobile-yellow.svg");
    background-size: cover;
    height: 550px;
  }

  @media (min-width: 1366px){
  .easy-peasy {
    position: relative;
    top: -350px;
    left: 350px;
  }

  .top-wrapper {
    height: 510px;
  }

  .footer-padded {
    padding-top: 250px;
    padding-bottom: 150px;
    position: relative;
    bottom: -210px;
  }

  .footer {
    padding-top: 200px!important;
  }
}
